@use "/src/styles/variables.scss" as variables;

.contactUs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .contact {
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    background: #fff;
    max-width: 560px;
  }

  .heading {
    position: sticky;
    top: 0;
    z-index: 99;
    background: #fff;
    display: flex;
    flex-direction: row;
    padding-top: 32px;
    padding-bottom: 5px;
    justify-content: space-between;
    gap: 61px;
    align-items: flex-start;

    img {
      cursor: pointer;
    }
  }

  p {
    color: var(--Secondary-Black, #131313);
    font-family: "Satoshi";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
  }
}

.contactUs {
  .contact {
    .contactForm {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 32px;
      width: 100%;

      .error {
        position: absolute;
        bottom: -24px;
        color: red;
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 15px;
      position: relative;

      .text {
        color: #474749;
        font-family: "Satoshi";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .clr {
        color: #f00;
        font-family: "Satoshi";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

.contactUs {
  .contact {
    .contactForm {
      .form-group {
        .inputBox {
          border-radius: 4px;
          border: 1px solid #e6e6e6;
          background: #fbfcfe;
          padding-top: 16px;
          padding-bottom: 16px;
          padding-left: 13.41px;
          color: #aaa;
          font-family: "Satoshi";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
          outline: none;

          &::placeholder {
            color: #aaa;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
          }
        }
      }
    }
  }
}

.textArea {
  resize: none;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  background: #fbfcfe;
  padding-top: 16px;
  padding-bottom: 64px;
  padding-left: 13.41px;
  color: #aaa;
  font-family: Satoshi;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  outline: none;

  &::placeholder {
    color: #aaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
}

.contactUs {
  .contact {
    .button {
      padding: 15px 32px;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .buttonText {
      color: #fff;
      text-align: center;
      font-family: "Satoshi";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
    }
  }
}

@media screen and (max-width: 992px) {
  .modal {
    .modalContainer {
      padding: 24px !important;
      width: 90%;
    }
  }
  .contactUs {
    height: auto;

    .heading {
      gap: 22px;
      p {
        width: 79%;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
      }
    }

    .button {
      justify-content: center !important;
    }
  }
}
