@use "/src/styles/variables.scss" as variables;



.button {
    border-radius: 8px;
    background: #165EF0;
    padding: 14px 20px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    border: none;
    align-items: center;
    cursor: pointer;

    p {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -0.18px;
    }
}




/* ------------------------------------------ MOBILE SCREEN --------------------------------------------- */

@media screen and (max-width:568px) {

    .button {
        width: 97%;
    }



    .button p {
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.16px;
        text-align: left;

    }

}

/* ------------------  FOR TABLET SCREEN ------------------------------------------------------- */

@media screen and (min-width:768px) and (max-width:992px) {
    .button {
        justify-content: center;
    }



    .button p {
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.16px;
        text-align: left;

    }
}