@use "/src/styles/variables.scss" as variables;

// @import "../../../assets/images/herosection/TabletImage.png";

.heroSection {
  background-image: url(../../../assets/images/herosection/winimage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // height: 100vh;
  min-height: 771px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .heroSectiontext {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    position: absolute;
    top: 14%;
    .button {
      width: fit-content;
      border-radius: 40px;
      background: #ffbb17;
      padding: 8px 24px;
      border: none;
      .buttonText p {
        color: #000;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .subHeading {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 24px;
      align-items: center;
      .subHeading1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .p1 {
          color: #fff;
          text-align: center;
          font-size: 60px;
          font-style: normal;
          font-weight: 900;
          line-height: normal;
          text-transform: capitalize;
        }
        .p2 {
          color: #fff;
          text-align: center;

          font-size: 40px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }
      .herosecImages {
        border-radius: 13px;
        background: #fff;
        padding: 12px 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 48px;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .heroSection {
    background-size: 100% 100%;
    object-fit: cover;
  }
}

// /* --------------------------------  TABLET SCREEN -----------------------------------------------------  */
@media screen and (max-width: 992px) {
  .heroSection {
    background-image: url(../../../assets/images/herosection/tabletHeroImage.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 650px;
    .heroSectiontext {
      gap: 12px !important;
      top: 16% !important;
    }
    .subHeading {
      .subHeading1 {
        .p1 {
          font-size: 32px !important;
        }
        .p2 {
          font-size: 32px !important;
        }
      }
    }
  }
}
// /* --------------------------------  MOBILE SCREEN -----------------------------------------------------  */

@media screen and (max-width: 568px) {
  .heroSection {
    background-image: url(../../../assets/images/herosection/heromobileimage.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 600px;

    .heroSectiontext {
      gap: 6px !important;
      top: 16% !important;
      .button {
        padding: 4px 8px;
        border-radius: 10.417px;
        .buttonText p {
          font-size: 12px !important;
        }
      }
      .subHeading {
        gap: 19px;
        .subHeading1 {
          .p1 {
            font-size: 34px !important;
          }
          .p2 {
            font-size: 16px !important;
          }
        }
        .herosecImages {
          border-radius: 9.411px;
          background: #fff;
          padding: 8.69px 11.58px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 8px;
          align-items: center;
        }
      }
    }
  }
}
