@mixin d-flex($jc: flex-start, $al: flex-start, $fd: row, $gap: 0px) {
  display: flex;
  justify-content: $jc;
  align-items: $al;
  flex-direction: $fd;
  gap: $gap;
}

@mixin font-style($fs: normal, $fw: normal, $lh: normal) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

$white-color-0: #fff;
$white-color-1: #f1f7fd;

$black-color-0: #000;
$black-color-1: #131313;
$black-color-2: #232325;
$black-color-3: #323234;
$black-color-4: #2E2E2E;


$grey-color-0: #5a5a59;
$grey-color-1: #62666a;
$grey-color-3: #474749;
$grey-color-4: #4f4f52;
$grey-color-5: #e6e6e6;
$grey-color-6: #fbfcfe;
$grey-color-7: #aaa;

$blue-color-0: #165ef0;
$blue-color-1: #185ff0;
$blue-color-2: #9bbaf8;
