@use "/src/styles/variables.scss" as variables;

.slotbooking {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 42%;
    right: 30%;

    border-radius: 24px 24px 0px 0px;
    border: 1px solid #E1E1E1;
    background: #FFF;
    box-shadow: 0px -4px 36px 0px rgba(0, 0, 0, 0.09);
}

.slotbooking {
    .booking {
        padding: 20px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
    }
}

.slotbooking {
    .booking #p1 {
        color: #000;
        text-align: center;
        // font-family: "Satoshi Variable";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.13px;
    }
}

/* ----------------------------- MOBILE SCREEN ---------------------------------------------  */
@media screen and (max-width:568px) {
    .slotbooking {
        width: 100%;
        right: 0;
    }

    .slotbooking {
        .booking {
            padding: 20px 18px;
        }
    }

    .slotbooking {
        .booking p {
            width: 100%;
        }
    }
}


/* ---------------------  FOR TABLET SCREEN ---------------------------------------------------- */

@media screen and (min-width:768px) and (max-width:992px) {
    .slotbooking {
        width: 60%;
        right: 20%
    }

    .slotbooking {
        .booking {
            padding: 20px 18px;
        }
    }

    .slotbooking {
        .booking p {
            width: 72.3%;
        }
    }
}