@use "/src/styles/variables.scss" as variables;

.slotbooking {
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 42%;
  left: 50%;
  transform: translateX(-50%);


  border-radius: 24px 24px 0px 0px;
  border: 1px solid #e1e1e1;
  background: #fff;
  box-shadow: 0px -4px 36px 0px rgba(0, 0, 0, 0.09);
}

.slotbooking {
  .booking {
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }
}

.slotbooking {
  .booking #p1 {
    color: #000;
    text-align: center;
    // font-family: "Satoshi Variable";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.13px;
  }
}
/* ----------------------------- MINI DESKTOP SCREEN ---------------------------------------------  */

@media screen and (max-width: 1370px) {
  .stickeySlotBooking {
    width: 44%;
   

    .booking {
      .button {
        width: 100%;
      
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .stickeySlotBooking {
    width: 60%;
   
    .booking {
      .button {
        width: 100%;
      
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .stickeySlotBooking {
    width: 100%;
    left: unset;
    transform: unset;
   
    .booking {
      .button {
        width: 100%;
        justify-content: center;

        .reserve{
            width: unset;
        }
      
      }
    }
  }
}
@media screen and (max-width: 568px) {
  .stickeySlotBooking {
   
    .booking {
      .button {
        justify-content: unset;

        .reserve{
            width: 75%;
        }
      
      }
      #p1{
        width: 85%;
      }
    }
  }
}

/* ---------------------  FOR TABLET SCREEN ---------------------------------------------------- */

@media screen and (min-width: 768px) and (max-width: 992px) {
    // .slotbooking {
    //   width: 64%;
    //   right: 20%;
    // }
  
    .slotbooking {
      .booking {
        padding: 20px 18px;
      }
    }
  
    .slotbooking {
      .booking p {
        width: 87%;
        white-space: normal;
      }
    }
  }
  

/* ----------------------------- MOBILE SCREEN ---------------------------------------------  */
@media screen and (max-width: 568px) {
  .slotbooking {
    width: 100%;
    right: 0;
  }

  .slotbooking {
    .booking {
      padding: 20px 18px;
    }
  }

  .slotbooking {
    .booking p {
      width: 87%;
      white-space: normal;
    }
  }
}

