@use "/src/styles/variables.scss" as variables;

.ourServiceContainer {
  padding: 80px;
  @include variables.d-flex(
    $al: center,
    $jc: space-between,
    $gap: 56px,
    $fd: column
  );

  .cardsContainer {
    @include variables.d-flex($al: flex-start, $jc: space-between, $gap: 24px);

    .cardWrapper {
      background: linear-gradient(
        45deg,
        rgba(155, 186, 248, 1) 0%,
        rgba(228, 237, 253, 1) 50%,
        rgba(162, 183, 226, 1) 100%
      );
      width: 100%;
      border-radius: 12px;
      padding: 1px;

      .card {
        background-color: #fff;

        min-height: 387px;
        cursor: pointer;
        width: 33%;
        border-radius: 12px;
        padding: 24px;
        @include variables.d-flex(
          $al: flex-start,
          $jc: space-between,
          $gap: 28px,
          $fd: column
        );
        width: 100%;

        .cardDetailContainer {
          @include variables.d-flex(
            $al: flex-start,
            $jc: space-between,
            $gap: 28px,
            $fd: column
          );
        }

        .cardImage {
          min-height: 64px;
          min-width: 64px;
        }

        img {
          max-width: 64px;
        }

        .cardContent {
          @include variables.d-flex(
            $al: flex-start,
            $jc: flex-start,
            $gap: 6px,
            $fd: column
          );

          .cardHeadingContainer {
            @include variables.d-flex(
              $al: flex-start,
              $jc: flex-start,
              $gap: 12px,
              $fd: column
            );
          }

          .cardHeading {
            @include variables.font-style($fs: 22px, $fw: 700, $lh: 150%);
            color: variables.$black-color-2;
          }

          .cardQuestion {
            @include variables.font-style($fs: 16px, $fw: 550, $lh: 150%);
            color: variables.$black-color-2;
          }

          .cardDetail {
            @include variables.font-style($fs: 16px, $fw: 400, $lh: 150%);
            color: variables.$grey-color-3;
          }
        }

        .learnMore {
          @include variables.d-flex($al: center, $jc: flex-start, $gap: 8px);
          @include variables.font-style($fs: 16px, $fw: 400, $lh: 150%);
          color: variables.$blue-color-0;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .ourServiceContainer {
    padding: 40px;

    .cardsContainer {
      @include variables.d-flex(
        $al: flex-start,
        $jc: space-between,
        $gap: 24px
      );

      .card {
        min-height: 621px !important;
        cursor: pointer;
        width: 100%;
      }

      .cardContent {
        @include variables.d-flex(
          $al: flex-start,
          $jc: flex-start,
          $gap: 10px,
          $fd: column
        );

        .cardHeading {
          @include variables.font-style($fs: 18px, $fw: 700, $lh: 150%);
          color: variables.$black-color-2;
        }

        .cardDetail {
          @include variables.font-style($fs: 16px, $fw: 400, $lh: 150%);
          color: variables.$grey-color-3;
        }
      }
    }
  }
}

@media screen and (max-width: 568px) {
  .ourServiceContainer {
    padding: 40px 18px;
    @include variables.d-flex(
      $al: center,
      $jc: space-between,
      $gap: 40px,
      $fd: column
    );

    .cardsContainer {
      @include variables.d-flex(
        $al: flex-start,
        $jc: space-between,
        $gap: 18px,
        $fd: column
      );

      .card {
        width: 100%;
        min-height: 0 !important;

        gap: 16px;

        .cardContent {
          @include variables.d-flex(
            $al: flex-start,
            $jc: flex-start,
            $gap: 10px,
            $fd: column
          );

          .cardHeading {
            @include variables.font-style($fs: 20px, $fw: 700, $lh: 150%);
          }

          .cardDetail {
            @include variables.font-style($fs: 16px, $fw: 400, $lh: 150%);
          }
        }
      }
    }
  }
}
