@use "/src/styles/variables.scss" as variables;

.contactFormSection {
  .contactFormContainer {
    padding: 180px 80px 100px 80px;
    background: url(../../../assets/images/contactUs/contactBackground.png);
    background-repeat: no-repeat;
    background-position: center top 80px;
    background-color: #f1f7fd;
    @include variables.d-flex($gap: 80px, $al: center);
    .contactContent {
      width: 43.8%;
      .contactHeader {
        @include variables.font-style($fs: 58px, $fw: 700, $lh: 76px);
        color: variables.$black-color-1;
        text-transform: capitalize;
      }
      .contactDescription {
        @include variables.font-style($fs: 20px, $fw: 400, $lh: 150%);
        color: variables.$grey-color-0;
        letter-spacing: -0.2px;
        text-transform: capitalize;
        .highlight {
          font-weight: 700;
        }
      }
    }
    .formSection {
      width: 56.2%;
      background-color: variables.$white-color-0;
      padding: 24px;

      .form {
        @include variables.d-flex($fd: column, $gap: 40px);

        .dataSection {
          width: 100%;
          @include variables.d-flex($fd: column, $gap: 32px);

          .field {
            width: 100%;
            @include variables.d-flex($fd: column, $gap: 10px);
            position: relative;

            label {
              @include variables.font-style($fs: 16px, $fw: 400);
              color: variables.$grey-color-3;
            }

            input,
            textarea {
              @include variables.font-style($fs: 14px, $fw: 500, $lh: 16px);
              color: variables.$black-color-1;
              width: 100%;
              border-radius: 4px;
              border: 1px solid variables.$grey-color-5;
              background: variables.$grey-color-6;
              padding: 16px;
              outline: none;

              &::placeholder {
                @include variables.font-style($fs: 14px, $fw: 400, $lh: 16px);
                color: variables.$grey-color-7;
              }
            }
            textarea {
              resize: none;
            }

            .error {
              position: absolute;
              @include variables.font-style($fs: 14px, $fw: 400, $lh: 16px);
              color: red;
              bottom: -32%;
            }
          }
          .message{
            .error{
              bottom: -22%;
            }
          }
        }
        .submitSection {
          .submitButton {
            @include variables.font-style($fs: 18px, $fw: 500, $lh: 150%);
            border-radius: 8px;
            background-color: variables.$blue-color-0;
            padding: 15px 32px;
            border: none;
            color: variables.$white-color-0;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .contactFormSection {
    .contactFormContainer {
      padding: 180px 40px 100px 40px;
    }
  }
}

@media screen and (max-width: 568px) {
  .contactFormSection {
    .contactFormContainer {
      padding: 104px 18px 40px 18px;
      flex-direction: column;
      gap: 40px;
      background-image: none;

      .contactContent {
        width: 100%;

        .contactHeader {
          @include variables.font-style($fs: 34px, $fw: 700, $lh: 44px);
          text-align: center;
        }
        .contactDescription {
          @include variables.font-style($fs: 16px, $fw: 400, $lh: 150%);
          text-align: center;
        }
      }

      .formSection {
        width: 100%;

        .form {
          .submitSection {
            width: 100%;
            .submitButton {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
