@use "/src/styles/variables.scss" as variables;
.about{
    background: #F1F7FD;
}
.about{
    .table{
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 56px;
    }
}
.about{
    .table h1{
        color: var(--Secondinary-900, #232325);
        text-align: center;
        // font-family: "Satoshi";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
.about{
    .table{
        .elements{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 24px;
            .sub-elements{
                padding: 1px;
                background: linear-gradient(194deg, rgb(155, 186, 248) 0%, rgb(228, 237, 253) 50%, rgb(162, 183, 226) 100%);
                border-radius: 12px;
                width: 23.548387097%;
                // overflow: hidden;
            }
        }
    }
}
.about{
    .table{
        .elements{
            .block{
                border-radius: 12px;
                // border: 1px solid #9BBAF8;
                padding: 24px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 28px;
                background-color: #F1F7FD;
                // width: 23.548387097%;
            }
        }
    }
}
.about{
    .table{
        .elements{
            .block{
                .text{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap: 10px;
                }
            }
        }
    }
}
.about{
    .table{
        .elements{
            .block{
                .text{
                    .p1{
                        color: var(--Secondinary-900, #232325);
                        // font-family: "Satoshi";
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                    }
                }
            }
        }
    }
}
.about{
    .table{
        .elements{
            .block{
                .text{
                    .p2{
                        color: var(--Secondinary-600, #474749);
                        // font-family: "Satoshi";
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 150%;
                    }
                }
            }
        }
    }
}

/* -------------------------------- FOR MOBILE SCREEN ---------------------------------------------------- */
 
@media screen and (max-width:568px){
    .about{
        .table{
            padding: 40px 18px;
            gap: 40px;
        }
    }
    .about{
        .table h1{
            font-size: 24px;
        }
    }
    .about{
        .table{
            .elements{
                flex-direction: column;
                .sub-elements{
                    width: 100%;
                }
            }
        }
    }

    .about{
        .table{
            .elements{
                .block{
                    gap: 18px;
                    width: 100%;
                }
            }
        }
    }
    .about{
        .table{
            .elements{
                .block{
                    .text{
                        .p2{
                            font-size: 16px;

                        }
                    }
                }
            }
        }
    }
}

/* -------------------------------- FOR TABLET SCREEN -------------------------------------------------- */

@media screen and (min-width:768px)and (max-width:992px){
    .about{
        .table{
            padding: 100px 60px;
            
        }
    }
    .about{
        .table h1{
            font-size: 40px;
        }
    }
    .about{
        .table{
            .elements{
                flex-direction: row;
            }
        }
    }
    .about{
        .table{
            .elements{
                .block{
                    gap: 18px;
                    width: 100%;
                }
            }
        }
    }
    .about{
        .table{
            .elements{
                .block{
                    .text{
                        .p2{
                            font-size: 16px;

                        }
                    }
                }
            }
        }
    }
}